.media-cont {
    margin: 0 auto;
    margin-top: 230px;
    max-width: 1220px;
    display: flex;
    justify-content: space-between;
    border-radius: 33px;
    background-color: #343434;
    overflow: hidden;
}

.media-left {
    padding: 78px 86px 78px 94px;
    max-width: 630px;
}

.media-left p {
    margin-bottom: 37px;
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
}

@media screen and (max-width: 1024px) {
    .media-cont {
        margin: 0 20px;
        margin-top: 230px;
    }

    .media-left {
        padding: 58px 66px 58px 74px;
    }

    .media-left p {
        font-size: 38px;
        line-height: 52px;
    }
}

@media screen and (max-width: 768px) {
    .media-left {
        padding: 38px 46px 38px 54px;
    }
    
    .media-left p {
        min-width: 250px;
        font-size: 43px;
        line-height: 52px;
    }
}

@media screen and (max-width: 500px) {
    .media-cont {
        margin: 0;
        margin-top: 230px;
        display: grid;
        justify-content: center;
        background-color: #1E1E1E;
        text-align: center;
        border-radius: 0;
    }
    
    .media-left p {
        margin: 0 auto;
        margin-bottom: 37px;
        min-width: 0;
        max-width: 350px;
    }
}